<h1>Дедман</h1>

<div id="anonymous-forms" class="content">
  <div class="left">
    Есть аккаунт?
    <div class="link">
      <a href="/login">Входи</a>
    </div>
  </div>

  <div class="right">
    Нет аккаунта? 
    <div class="link">
      <a href="/register">Регистрируйся</a>
    </div>
  </div>
</div>
